# MINIO
MINIO_ACCESS_KEY = ""
MINIO_SECRET_KEY = ""

# POSTGRES 
DATABASE_URL = ""

# HUGGING FACE
HF_TOKEN = ""

# GOOGLE API
GEMINI_API_KEY = ""

# GROQ API
GROQ_API_KEY = ""

#NGORK
NGROK_AUTHTOKEN=""

#REDIS
REDIS_HOST =""
REDIS_PORT =6380
REDIS_DB =0